.img_container {
    width: 100%;
    height: 35vh;
    background-image: linear-gradient(rgba(213, 215, 216, 0.3),
        rgb(110, 177, 185)),
      url("https://cdn.hovia.com/app/uploads/Blue-Bulldog-and-Sausage-Dog-Pattern-Pet-Wallpaper-Mural-Plain.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    text-align: left;
    margin-top: 2rem;
    padding: 2rem;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  
  
  
  .heading {
    font-size: 3rem;
    margin: 4rem 0rem;
    color: rgb(255, 255, 255);
  }
  
  
  
  .categories {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 5rem;
    text-align: left;
  }
  
  .smallTitle {
    font-size: 2rem;
  }
  
  .box_container {
    display: flex;
    gap: 2rem;
  }
  
  .box {
  
    padding: 1rem;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  
  .selected {
    background-color: #f06868;
    color: white;
  }
  
  @media(max-width:700px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
  
  
  @media(max-width:500px) {
  
    .cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  
    .card_img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      border-radius: 15px;
      object-position: 50% 20%;
    }
  }